php5-fpm:
  # The files_switch key serves as a selector for alternative directories under
  # the formula files directory. Under the files directory could exist several
  # subdirectories named on the value of certain grains. By default the selector
  # is the minion id, but it could be a list of them.
  files_switch:
    - id
    - os_family

  # This is used for signaling from logrotate script
  pid_file: /var/run/php5-fpm.pid

  # Configuration of pools
  pools:

    example_pool:
      # State could be enabled (default) | disabled | absent
      state: enabled

      # Name of the file with the conf. Default is <pool name>.conf
      conf_filename: www.example.com.conf

      # Jinja template for this site. Should be in
      # files/default/etc/php5/fpm/pool.d/<template>.jinja
      template: minimal

      # User and group for the process pool
      user: www-data
      group: www-data

      # User, group and permissions for the UNIX socket
      listen.owner: www-data
      listen.group: www-data
      listen.mode: 0666

      # Configuration of pm
      pm.max_children: 10
      pm.start_servers: 4
      pm.min_spare_servers: 2
      pm.max_spare_servers: 6
      pm.max_requests: 500

      # Other common parameters
      log_dir: /var/www/bob/log
      logrotate_files:
        - /var/www/bob/log/*.log
      listen: /var/run/php5-fpm_bob.socket

      # Extra configuration to be added to the pool conf file
      extra_conf: |
        # This is an example of snippet added to the conf from pillar data

    example_pool_with_tcp:
      state: enabled
      template: minimal
      user: bob
      group: www-data
      # Allowed clients
      listen_allowed_clients: 127.0.0.1
      listen: 127.0.0.1:9000
      extra_conf: |
        # This is an example of snippet added to the conf from pillar data

    pool_to_delete:
      state: absent
      conf_filename: pool_to_delete.conf

