{% set mysql = salt['grains.filter_by']({
    'default': {
        'pkg_server': 'mysql-server',
        'service_server': 'mysql',
        'config_server': '/etc/my.cnf',
        'pkg_client': 'mysql-client',
        'pkg_python': 'python-mysqldb',
    },
}, merge=salt['pillar.get']('mysql:lookup')) %}
